import { GetStaticProps } from 'next';

const {{name}} = () => {
  return (
    <div>
      Bem vindo รก {{name}}
    </div>
  );
};

export default {{name}};

export const getStaticProps: GetStaticProps = async () => {
  return {
    props: {}
  };
};


